

.SignIn {
  background-color: papayawhip;
  border: 0;
  border-radius: 5px;
  color: grey;
  display: block;
  margin: 0 auto;
  padding: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 2.5rem;
}

.SignIn:hover {
      background-color: peachpuff !important;
}

#title{
  margin-bottom: 0rem;
  color: grey;
  font-weight: 550;
  font-size: 50px;
}

.logo {
  font-family: "Fauna One";
  color: grey;
  font-size: 3rem;
}
 .logo img {
  width: 45px;
  padding-left: 4px;
}